<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Student Attendance List</h1>
    <a routerLink="student-form" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
            class="fas fa-download fa-sm text-white-50"></i>Add Student</a>
</div>

        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
            </div>

            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Phone</th>
                                <th>Date</th>
                                <th>Present</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Phone</th>
                                <th>Date</th>
                                <th>Present</th>
                                <th>Action</th>
                            </tr>
                        </tfoot>

                        <tbody>
                            <tr *ngFor="let student of studentList">
                                <td>{{student.id}}</td>
                                <td>{{student.userName}}</td>
                                <td>{{student.userEmail}}</td>
                                <td>{{student.phoneNumber}}</td>
                                <td>{{student.attDate | date:'yyyy-MM-dd'}}</td>
                                <td>{{student.present}}</td>
                                <td>
                                    <button [routerLink]="['/edit-student',student.id]" class="btn btn-primary btn-sm m-2">Edit</button>
                                    <button class="btn btn-danger btn-sm" (click)="deleteStudent(student.id)">Delete</button>
                                </td>
                            </tr>
                        </tbody>

                    </table>
                    </div>
        </div>